
<div class="container-fluid" id="homepage">
    <h1 class="header">BackyardBorrow</h1>
</div>  
<div class="container-fluid">
<nav class="nav nav-tabs nav-fill">
    <a class="nav-link" href="/backyard">View all Backyards</a>
    <a class="nav-link" href="/backyard/new">List Your Backyard</a>
    <a class="nav-link" href="mailto:juliaannefriend@gmail.com.com">Contact Us</a>
</nav>
</div>