
<div class="container-fluid" id="homepage">
    <h1 class="header">BackyardBorrow</h1>
</div>  
<div class="container-fluid">
<nav class="nav nav-pills nav-justified">
    <a class="nav-link" href="/backyard">View all Backyards</a>
    <a class="nav-link" href="/backyard/new">Post Your Yard</a>
</nav>
</div>