<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BackyardBorrow</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Backyard Borrow</h1>
        <p>Welcome to Backyard Borrow! Check out available listings below for yards in your area. Click on the title to view more details and availability and to book your new backyard for the day!</p>
        <nav>
            <a href="/backyard/new">List your Backyard</a>
        </nav>
        <div class="master-container">
            <% for (let i = 0; i < backyard.length; i++) { %>
                <div class="backyard-container">
                    <a href="/backyard/<%=backyard[i]._id%>">
                    <h2><%=backyard[i].title%></h2>
                    </a>
                    <h3><%=backyard[i].location%></h3>
                    <h3><%backyard[i].pool%></h3>    
                </div>
        <% } %>
        </div>
        <h2>House Rules</h2>
        <p>As a reminder, all backyards are borrowed for free. Please be respectful of your hosts and take everything with you when you leave. Feedback on your individual experience can be submited below.</p>
        <div class=" new-container">
            <form action="/backyard">
                <input type="text" name="feedback" placeholder="Feedback on your experience" /><br/>
                <input type="submit" value="Submit" />
            </form>
            </div>
    </body>
</html>