<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <br><br>
        <div class="container-md" id="list">
        <h2>List your Backyard</h2>
        <form action="/backyard" method="POST">
            Title<br><input id= "feedback" type="text" name="title" placeholder="Title of your listing" /><br/>
            Location<br><input id= "feedback" type="text" name="location" placeholder="Town, State" /><br/>
            Pool<br><input id= "feedback" type="text" name="pool" placeholder="Do you have a pool? True or False" /><br/>
            Seating <br><input id= "feedbackmulti" type="text" name="seating" placeholder="Seating option" />
            <input id= "feedbackmulti" type="text" name="seating" placeholder="Seating option" />
            <input id= "feedbackmulti" type="text" name="seating" placeholder="Seating option" /><br/>
            Cooking <br><input id= "feedbackmulti" type="text" name="cooking" placeholder="Cooking option" />
            <input id= "feedbackmulti" type="text" name="cooking" placeholder="Cooking option" />
            <input id= "feedbackmulti" type="text" name="cooking" placeholder="Cooking option" /><br/>
            Pets <br> <input id= "feedback" type="text" name="petfriendly" placeholder="Pet friendly? True or False" /><br/>
            Tags <br><input id= "feedbackmulti" type="text" name="tags" placeholder="Additional info" />
            <input id= "feedbackmulti" type="text" name="tags" placeholder="Additional info" />
            <input id= "feedbackmulti" type="text" name="tags" placeholder="Additional info" /><br/>
            Availability <br><input id= "feedbackmulti" type="date" name="availability" placeholder="Date available" />
           <input id= "feedbackmulti" type="date" name="availability" placeholder="Date available" />
           <input id= "feedbackmulti" type="date" name="availability" placeholder="Date available" /><br/>
            Image Link <br><input id= "feedback" type="text" name="image" placeholder="Add the link to a photo or enter False" /><br/>
            <br><input type="submit" value="Post Listing" />
        </form>
        </div>
        <br><br>
        <footer>
            <%- include ('./partials/footer.ejs') %>
        </footer>
    </body>
</html>