<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <h1>Backyard Borrow</h1>
        <h2>List your Backyard</h2>
        <div class="container">
        <form action="/backyard" method="POST">
            <input type="text" name="title" placeholder="Title of your listing" /><br/>
            <input type="text" name="location" placeholder="location" /><br/>
            <input type="text" name="pool" placeholder="pool?" /><br/>
            <input type="text" name="seating" placeholder="describe seating options" /><br/>
            <input type="text" name="cooking" placeholder="describe cooking options ex: grill, firepit" /><br/>
            <input type="text" name="petfriendly" placeholder="pet friendly?" /><br/>
            <input type="text" name="tags" placeholder="anything additional you'd like to add" /><br/>
            <input type="text" name="availability" placeholder="dates available" /><br/>
            <input type="submit" value="Post Listing" />
        </form>
        </div>
    </body>
</html>