<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BackyardBorrow</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <!-- <nav>
            <a href="/backyard/new">Post Your Yard</a>
            <a href="/backyard">Show All Books</a>
        </nav> -->
        <h1>Backyard Borrow- New Page</h1>
        
    </body>
</html>