body {
    background-color: rgb(107, 135, 107);
}
.container-fluid {
    background-color: rgb(189, 178, 148);
}
#homepage {
    background-image: url("https://i.imgur.com/QFXPYNn.jpg");
    background-size: cover;
    filter: grayscale(60%);
}

article {
    text-align: center;
    padding: 1em;
}
#feedback {
    width: 560px;
}
#houserules, #show, #owner, #homepage {
    padding: 2em;
}
#showtitle {
    text-align:center;
}
#boxes {
    padding: 2em; 
    background-color:rgb(170, 195, 163); 
    box-shadow: 3px 3px rgb(72, 71, 71);
    margin: 1em;
}
.header {
    color:rgb(210, 202, 179);
    text-shadow: 2px 2px black;
}
li {
    list-style-type: none;
}
#show2, #reserve, #edits, #list {
    background-color:rgb(170, 195, 163); 
    padding: 1em;
    box-shadow: 3px 3px rgb(72, 71, 71);
}
#owner {
    background-color: antiquewhite;
    box-shadow: 3px 3px rgb(72, 71, 71);
}
.nav-link {
    color: rgb(50, 31, 11);
}
#links {
    color:antiquewhite;
    font-size: smaller;
    text-shadow: 1px 1px rgb(50, 31, 11);
    text-align: center;
}
#local {
    text-align: center;
}
.footer {
    text-align: right;
    font-style: italic;
}
