.master-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 90, 74);
}
.backyard-container {
    width: 40%;
    padding: 1em;
    border-radius: 3em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: rgb(149, 176, 155);;
}